!!! 5
%html.container
  %head
    %title.page-header RottenPotatoes 
    = stylesheet_link_tag 'application'
    = render :partial=>'login_form'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.body
    = yield